{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
<div class="bg-blue-900">
    <h1 class="text-5xl text-white p-6 text-center"> Odjava </h1>
</div>

<p class="flex justify-center text-2xl" style="margin-top: 1.5rem;">Jeste li sigurni da se želite odjaviti?</p>
<form method="post" action="{% url 'account_logout' %}" class="flex justify-center">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button style="margin-top: 2rem;" class="text-white bg-blue-500 border border-blue-900 py-2 px-4" type="submit">Odjavite se</button>
</form>

{% endblock %}