{% extends "base_generic.html" %}
{% block content %}
<div class="bg-blue-900">
    <h1 class="text-5xl text-white p-6 text-center"> Odobranvanje apartmana  </h1>
</div>
{% for apartman in svi_apartmani %}
    {% if apartman.apartman_odobren == False %}
    <a class="linkovi" href="/apartmani/{{ apartman.id }}">
        <div class="border border-black rounded-2xl flex items-center" style="margin-left: 7rem; margin-right: 7rem; margin-bottom: 3rem; height: 400px;">
            <div>
                <img style="width: 700px; height: 400px; border-top-left-radius: 1rem; border-bottom-left-radius: 1rem;" src="/media/{{apartman.apartman_glavna_slika}}">
            </div>
            <div style="margin-left: 4rem; border-left: 1px solid black; height: 300px;" class="flex items-center">
                <div style="margin-left: 4rem;">
                    <h4 style="padding-bottom: 2rem;" class="text-4xl text-blue-900 font-bold">{{ apartman.apartman_naziv }}</h4>
                    <h5 style="padding-bottom: 0;" class="text-xl">Cijena: {{ apartman.apartman_cijena }} kn / noć</h5>
                    <p class="text-xl">Lokacija: {{ apartman.apartman_lokacija }}</p>
                </div>
            </div>
        </div>
    </a>
    {% endif %}
{% endfor %}
{% endblock %}